# env & secrets
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Node
node_modules/
.next/
dist/
build/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
**/.pytest_cache/

# Celery
apps/backend/celerybeat-schedule
celerybeat-schedule
